<div class="center-content info-container">
  <h1>
    Welcome to the {{ title }}!
  </h1>
  <div>
      <p>Ever wanted to make a quick female character but just don't have time? The Waifu Randomizer can help with that! Check some parameters and click "Generate" to get started!</p>
  </div>
</div>
<router-outlet></router-outlet>
<footer>
  <span>Version {{ version }}</span>
  <span>Background made by <a href="https://www.thiswaifudoesnotexist.net/">"This Waifu Does Not Exist"</a></span>
</footer>