<div class="component-container">
  <h2>Waifu Parameters</h2>
  <form (ngSubmit)="onSubmit()" id="waifuForm" #waifuForm="ngForm">
    <div class="form-group component-child">
      <label for="name">Name Origin</label>
      <select placeholder="Choose..." class="form-control" id="name" #name="ngModel" name="name" [(ngModel)]="selectedNameRegion" required> 
        <option *ngFor="let region of nameRegion" [value]="region.id">{{region.label}}</option>
      </select>
    </div>
    <div class="form-group component-child">
      <label for="realism">Level of Realism</label>
      <select placeholder="Choose..." class="form-control" id="realism" #realism="ngModel" name="realism" [(ngModel)]="selectedRealismLevel" required> 
        <option *ngFor="let real of realismLevel" [value]="real.id">{{real.label}}</option>
      </select>
    </div>
    <div class="form-group component-child">
      <input type="checkbox" name="adultcontent" id="adult" #adult=ngModel [(ngModel)]="this.adultEnabled">
      <span>I am 18 or over and would like to view adult content.</span>
    </div>
    <div class="component-child">
      <button type="submit" class="input-btn btn btn-success" [disabled]="!waifuForm.form.valid">Generate</button>
      <button class="input-btn btn btn-warning" (click)="waifuForm.reset()">Reset</button>
    </div>
  </form>  
</div>